<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">app component<br />
      <hint-auth></hint-auth>
      <hint-home></hint-home>
    </div>
  </div>
</div>
-->

<nb-layout>

  
    <nb-layout-header subheader>
      <h1>HintOS v1.01</h1>
    </nb-layout-header> 

  <nb-sidebar>

      <hint-auth></hint-auth>

    <hint-nav>
    </hint-nav>
  </nb-sidebar>

  <nb-layout-column>
    <div>
      <nb-card>
        <nb-card-body>
          <nb-actions size="medium">
            <nb-action icon="credit-card-outline" nbTooltip="Add Payment" nbTooltipPlacement="top"
              nbTooltipStatus="success" (click)="openAddPayment()"></nb-action>
            <nb-action icon="calendar-outline" nbTooltip="Add Event" nbTooltipPlacement="top" nbTooltipStatus="success"
              (click)="openAddEvent()"></nb-action>
          </nb-actions>
        </nb-card-body>
      </nb-card>
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>

</nb-layout>