<div *ngIf="householdsLoading; else content">
  <nb-card [nbSpinner]="true" nbSpinnerStatus="success">
    <nb-card-body>
      LOADING..
    </nb-card-body>
  </nb-card>
</div>
<ng-template #content>
  <div *ngIf="households.length > 0">
    <nb-card>
      <nb-card-body>
        <nb-actions size="small">
          <nb-action icon="credit-card-outline" nbTooltip="Add Payment" nbTooltipPlacement="top"
            nbTooltipStatus="success" (click)="openAddPayment()"></nb-action>
          <nb-action icon="calendar-outline" nbTooltip="Add Event" nbTooltipPlacement="top" nbTooltipStatus="success"
            (click)="openAddEvent()"></nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>
    <div class="row justify-content-center">
      <div class="col-md-4" *ngFor="let home of households">
        <nb-card status="success">
          <nb-card-header>{{home.name}}</nb-card-header>
          <img src="../../assets/cmslhvxgarsrplkbudqx.jpg" height="300" width="100%">
          <nb-card-body>
            <div class="row">
              <div class="col-md-4">
                <h6>Bills Due this Month </h6>
                <h6 style="color: green;">$32,294</h6>
              </div>
              <div class="col-md-4">
                <h6>Events this Month </h6>
                <h6 style="color: green;">4</h6>
              </div>
              <div class="col-md-4">sometingg else</div>
            </div>
          </nb-card-body>
          <nb-card-footer>By Wikipedia</nb-card-footer>
        </nb-card>
      </div>
    </div>
  </div>
  <div *ngIf="!componentLoading && households.length === 0">
    <nb-card>
      <nb-card-body>
        You haven't added a household yet.. why don't you get started?
        <button nbButton size="medium" status="success">Add Household</button>
      </nb-card-body>
    </nb-card>
  </div>
</ng-template>